@using System.Web.Http
@using System.Web.Http.Description
@model JDMallen.ChristmasOrganizer.Models.HelpPageApiModel

@{
    ApiDescription description = Model.ApiDescription;
}
<div class="row">
    <div class="panel panel-primary">
        <div class="panel-heading"><h1>@description.HttpMethod.Method @description.RelativePath</h1></div>
        <div class="panel-body"><p>@description.Documentation</p></div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h2>Request Information</h2>
        </div>
        <div class="panel-body">
            <h3>URI Parameters</h3>
            @Html.DisplayFor(m => m.UriParameters, "Parameters")

            <h3>Body Parameters</h3>

            <p>@Model.RequestDocumentation</p>

            @if (Model.RequestModelDescription != null) {
                @Html.DisplayFor(m => m.RequestModelDescription.ModelType, "ModelDescriptionLink", new {modelDescription = Model.RequestModelDescription})
                if (Model.RequestBodyParameters != null) {
                    @Html.DisplayFor(m => m.RequestBodyParameters, "Parameters")
                }
            } else {
                <p>None.</p>
            }
            @if (Model.SampleRequests.Count > 0) {
                <h3>Request Formats</h3>
                @Html.DisplayFor(m => m.SampleRequests, "Samples")
            }
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h2>Response Information</h2>
        </div>
        <div class="panel-body">
            <h3>Resource Description</h3>

            <p>@description.ResponseDescription.Documentation</p>

            @if (Model.ResourceDescription != null) {
                @Html.DisplayFor(m => m.ResourceDescription.ModelType, "ModelDescriptionLink", new {modelDescription = Model.ResourceDescription})
                if (Model.ResourceProperties != null) {
                    @Html.DisplayFor(m => m.ResourceProperties, "Parameters")
                }
            } else {
                <p>None.</p>
            }

            @if (Model.SampleResponses.Count > 0) {
                <h3>Response Formats</h3>
                @Html.DisplayFor(m => m.SampleResponses, "Samples")
            }
        </div>
    </div>
</div>