﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar { border-radius:0; }

#main_part {
    width: 100%;
    height: 300px;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("/Images/veggies.jpg") no-repeat scroll center center;
    background-size: 100%;
    border-bottom: 7px solid #E64A19;
    box-shadow: 10px 10px 5px #888888;
}

#tab {
    background-color: #E64A19;
}
#info {
  width: 100%;
  background: #558B2F no-repeat scroll center center;
  background-size: 100%;
  border-bottom: 10px solid #E64A19;
  box-shadow: 10px 10px 5px #888888;
}
#process {
  width: 100%;
  background: #E64A19 no-repeat scroll center center;
  background-size: 100%;
  border-bottom: 10px solid #E64A19;
  box-shadow: 10px 5px 5px #888888;
}