@using System.Web.Http
@model JDMallen.ChristmasOrganizer.Models.HelpPageApiModel

@{
    var description = Model.ApiDescription;
    ViewBag.Title = description.HttpMethod.Method + " " + description.RelativePath;
}

<link type="text/css" href="~/Content/HelpPage.css" rel="stylesheet" />
<div id="body" class="row help-page">
    <section class="featured">
        <div class="content-wrapper">
            <p>
                @Html.ActionLink("Help Page Home", "Index")
            </p>
        </div>
    </section>
</div>
@Html.DisplayForModel()
